<header>
    <div class="name">
        Angular Works!
    </div>
    <nav>
        <ul>
            <li >
                <button >
                    <a routerLink="Home">Home</a>
                </button>
            </li>
            <li >
                <button >
                    <a routerLink="Users">Users</a>
                </button>
            </li>
            <li >
                <button >
                   <a a routerLink="Todos">Todos</a>
                </button>
            </li>
        </ul>
    </nav>
</header>