header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
}

header .name {
  color: red;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  margin: 0 8px;
}

header nav ul li button {
  color: blue;
  padding: 10px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

header nav ul li button:hover {
  background-color: blue;
  color: #fff;
}
